.plan {
    position: relative;
    width: 15rem;
    margin: 0 1rem;

    &__button {
        padding: 1rem;
        text-decoration: none;
        border: 2px solid blue;
        border-radius: 0.5rem;
        color: blue;
        display: block;
        text-align: center;

        &--featured {
            background-color: blue;
            color: white;
        }
    }

    &__star::before {
        content: "⭐️";
        position: absolute;
        top: 0;
        right: 0;
    }
}